* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{-webkit-text-size-adjust: none;}
body::-webkit-scrollbar{
  display: none;
}
body{
  transform-origin: left top;
  overflow: hidden;
  allowfullscreen:true;
  webkitallowfullscreen:true;
  mozallowfullscreen:true;
}
#root{
  height: 100%;
}